{% extends 'base.html' %} {% block content %}
    <section class="instructions">
        <h3>How to Play</h3>
        <p>Welcome to Rock, Paper, Scissors!</p>
        <p>This is a simple game involving two players. The game is played as follows:</p>
        <ol>
            <li>Player 1 chooses between "rock", "paper" and "scissors"</li>
            <li>Player 2 chooses between "rock", "paper" and "scissors"</li>
        </ol>
        <p>The winner of the game is decided according to the match up between the players' choices:</p>
        <ul>
            <li>Rock blunts scissors to win the game.</li>
            <li>Paper wraps rock to win the game.</li>
            <li>Scissors cuts paper to win the game.</li>
            <li>If both players make the same choice, the game results in a draw!</li>
        </ul>
        <p id="play-game"><a href="/play">Play game</a></p>
    </section>
{% endblock %}